@import '../../../styles/variables';

.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 60px 0;
}

.reset-password__content {
  width: 100%;
  max-width: 475px;
  border-radius: 16px;
  background: $light;
  padding: 44px 30px 41px;
}

.form__title {
  margin-bottom: 9px;
  margin-top: 43px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.reset-password__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form__desc {
  font-size: 14px;
}
.form {
  margin-top: 50px;
}

.form__footer {
  margin-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.reset-password__button {
  height: auto;
  background: $primary;
  margin-top: 24px;
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 14px 0;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: $light;
}

:global(.ant-otp) {
  margin-top: 16px;
}

:global(.ant-otp-input) {
  padding: 12px 0;
  width: fit-content;
  color: $dark;
}
.form__otp :global(.ant-form-item-explain-error) {
  text-align: center;
}
.form__otp :global(.ant-input) {
  height: 50px !important;
}

.button__send {
  padding: 14px;
  height: max-content;
  width: 60px !important;
  display: block;
}

.field__email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__email {
  padding: 14px;
}

.back_signin {
  color: $primary;
  text-decoration: underline;
  margin-top: 24px;
  display: block;
  text-align: center;
}
