@import '../../styles/variables';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-size: 100px;
  transition: all 0.5s;
}

.sub__title {
  font-size: 24px;
}

.button__back {
  margin-top: 32px;
  padding: 12px 24px;
  background-color: $primary;
  color: $light;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 64px;
  }
  .sub__title {
    font-size: 18px;
  }
}
